<%= link_to user_path(retweet.creator), class: "flex items-center text-gray-600" do %>
  <svg role="presentation" class="inline w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
  </svg>

  <span class="border rounded-full p-1 mr-1 bg-blue-500">
    <%= render partial: "users/avatar", object: retweet.creator, as: :user %>
  </span>

  <%= retweet.creator.username %> retweeted
<% end %>

<aside class="group embedded border-2 rounded-lg p-4 relative">
  <% if retweet.parent.trashed? %>
    Tweet Deleted
  <% else %>
    <%= render partial: "entries/entryables/tweet", object: retweet.parent %>
  <% end %>
</aside>

<div class="flex justify-end items-center">
  <%= button_to tweet_path(retweet), method: :delete, class: "hidden text-gray-600 items-center signed-in:flex", data: { visible_to_user: retweet.creator_id } do %>
    <svg role="presentation" class="w-4 h-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>

    <span class="sr-only">Delete</span>
  <% end %>
</div>
