<header class="text-xs title-font font-medium text-gray-500">
  <%= link_to tweet_path(tweet) do %>
    on <%= localize tweet.created_at, format: :short %>
  <% end %>
</header>

<%= tweet.content %>

<aside class="flex justify-between items-center flex-wrap">
  <%= link_to user_path(tweet.creator), class: "flex text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 outline-none focus:ring" do %>
    <span class="sr-only">from</span>
    <span class="border rounded-full p-1 mr-1 bg-blue-500">
      <%= render partial: "users/avatar", object: tweet.creator, as: :user %>
    </span>

    <%= tweet.creator.username %>
  <% end %>

  <div class="flex justify-between items-center divide-x-2">
    <%= button_to tweet_retweets_path(tweet), class: "hidden signed-in:flex items-center text-gray-600 group-embedded:hidden" do %>
      <svg role="presentation" class="w-4 h-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
      </svg>
      <%= tweet.children.not_trashed.retweets.count %>
      <span class="sr-only">Retweet</span>
    <% end %>

    <%= link_to new_tweet_reply_path(tweet), class: "hidden signed-in:flex items-center text-gray-600 group-embedded:hidden" do %>
      <svg role="presentation" class="w-4 h-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
      </svg>
      <%= tweet.children.not_trashed.tweets.count %>
      <span class="sr-only">Reply</span>
    <% end %>

    <%= button_to tweet_path(tweet), method: :delete, class: "hidden signed-in:flex items-center text-gray-600 group-embedded:hidden", data: { visible_to_user: tweet.creator_id } do %>
      <svg role="presentation" class="w-4 h-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>

      <span class="sr-only">Delete</span>
    <% end %>
  </div>
</aside>
