<!DOCTYPE html>
<html>
  <head>
    <title>HotwireTweets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Current.session.signed_in? %>
      <style type="text/css">
        [data-hidden-from-user~="<%= Current.user.id %>"],
        [data-visible-to-user]:not([data-visible-to-user~="<%= Current.user.id %>"]) {
          display: none !important;
        }
      </style>
    <% end %>
    <%= stylesheet_link_tag "inter-font", data: { turbo_track: "reload" } %>
    <%= stylesheet_link_tag "tailwind", data: { turbo_track: "reload" } %>
    <%= stylesheet_link_tag 'application', media: 'all', data: { turbo_track: "reload" } %>
    <%= javascript_pack_tag 'application', data: { turbo_track: "reload" } %>
    <%= yield :head %>
    <%= stimulus_include_tags %>
  </head>

  <body class="<%= "signed-in" if Current.session.signed_in? %>">
    <%= render "header" %>

    <main class="flex flex-col items-center min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>
